body {
	background-color: #fff;
}
#container {
    background-color: #ffe400;
	overflow: hidden;
}
#map_body {
	overflow: hidden;
}

#header {
    border: 0;
    background-color: #ffe400;
	text-align: center;
}
	#titleline {
		margin: 0 0 10px 0;
	}
	#header h2 {
		clear: both;
		margin: 0 auto;
		width: 559px;
		height: 41px;
		text-indent: -9999px;
		overflow: hidden;
		background: url(../img/header_bingo.png) no-repeat;
		position: relative;
		top: 5px;
	}

#meta-container {
	text-align: center;
}
#chart-container {
    width: 584px;
    height: 590px;
	margin: 0 auto;
}
	.card {
	    width: 112px;
	    height: 112px;
	    font-size: 12px;
	    line-height: 16px;
	    float: left;
	    margin-left: 4px;
	    margin-bottom: 4px;
	    display: table;
	    background-color: #e6fdff;
	    background-image: url(../img/piece_bg.png);
	    text-transform: uppercase;
		cursor: pointer;
		}

	}
	.free {
	    background-image: url(../img/piece_free.png);
	}
	.chip {
	    background-image: url(../img/piece_chip.png);
	}
	.freechip {
	    background-image: url(../img/piece_free_chip.png);
	}
	.card-text {
	    margin: auto;
	    text-align: center;
	    vertical-align: middle;
	    display: table-cell;
	    padding: 4px;
	}



#bingo-footer {
	width: 584px;
	height: 75px;
    margin: 0 auto 18px auto;
	padding: 0;
    position: relative;
	overflow: hidden;
	background: url(../img/animals.png) no-repeat -10px 0;
}
#yell-button {
    position: absolute;
    left: 140px;
    bottom: 19px;
}

+body:after {
+  display: none; }
+  @media only screen and (min-width: 220px) {
+    body:after {
+      content: "handheld"; } 
+    #header h2 { width: 100%; background-size: 100%; }
+    #container { width: 100%; }
+    #chart-container { width: 100%; max-width: 100%; }
+    .card { width: 19%; overflow: hidden; font-size: 9px; 
+        margin-left: 2px; margin-bottom: 2px; 
+        letter-spacing: -1px;
+    }
+    .free { background-size: 100% auto; background-repeat: no-repeat; }
+    #bingo-footer { width: 100%; }
+    #yell-button { left: 0; margin: auto; }
+}
+  @media only screen and (min-width: 600px) {
+    body:after {
+      content: "tablet"; } 
+    #header h2 { width: 582px; background-size: 582px; }
+    #container { width: auto; }
+    #chart-container { width: 584px; }
+    .card { width: 112px; overflow: hidden; font-size: 12px;
+        margin-left: 4px; margin-bottom: 4px; 
+        letter-spacing: -1px;
+    }
+    .free { background-size: 100% auto; background-repeat: no-repeat; }
+    #yell-button { left: auto; margin: auto; }
+}
+  @media only screen and (min-width: 768px) {
+    body:after {
+      content: 'tablet-large'; } 
+}
+  @media only screen and (min-width: 1024px) {
+    body:after {
+      content: "desktop-small"; } 
+}
+  @media only screen and (min-width: 1224px) {
+    body:after {
+      content: "desktop"; } 
+}
+  @media only screen and (min-width: 1824px) {
+    body:after {
+      content: "desktop-large"; } 
+}
